// Required
@import "../node_modules/bootstrap/scss/functions";

// Any default variable overrides

// Additional required Bootstrap components
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Create custom color map
$custom-colors: (
  "popsicle":#F52549,
  "sunshine":#FFD64D,
  "smurf":#008DCB,
  "peach":#FFA384,
  "violet-sky":#8c5ae9,
  "bubble-gum":#FA6775,
  "leaf":#b1db27,
  "lagoon":#20c997,
  "sea":#72ecfa
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Reduce growth of container on larger screens
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 720px,
  xl: 720px,
  xxl: 1140px
);

// Optional Bootstrap components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// Additional custom scss
::selection {
  background-color: #FFD64D;
}

.centre {
  display: grid;
  place-items: center;
}